# FastAPI Environment Configurations
APP_NAME="Nexora AI Support Hub API"
APP_ENV="development"
DEBUG=true
API_V1_PREFIX="/api/v1"
BACKEND_HOST="127.0.0.1"
BACKEND_PORT=8000
FRONTEND_URL="http://localhost:3000"

# CORS configurations
CORS_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"

# MongoDB Database configurations
MONGODB_URI="mongodb://localhost:27017"
MONGODB_DATABASE="nexora_support_db"
